In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier, plot_tree
import seaborn as sns

In [2]:
df = pd.read_csv('weatherAUS.csv')

In [3]:
df.shape

(145460, 23)

In [4]:
df.columns

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

In [5]:
df.head

<bound method NDFrame.head of               Date Location  MinTemp  MaxTemp  Rainfall  Evaporation  \
0       2008-12-01   Albury     13.4     22.9       0.6          NaN
1       2008-12-02   Albury      7.4     25.1       0.0          NaN
2       2008-12-03   Albury     12.9     25.7       0.0          NaN
3       2008-12-04   Albury      9.2     28.0       0.0          NaN
4       2008-12-05   Albury     17.5     32.3       1.0          NaN
...            ...      ...      ...      ...       ...          ...
145455  2017-06-21    Uluru      2.8     23.4       0.0          NaN
145456  2017-06-22    Uluru      3.6     25.3       0.0          NaN
145457  2017-06-23    Uluru      5.4     26.9       0.0          NaN
145458  2017-06-24    Uluru      7.8     27.0       0.0          NaN
145459  2017-06-25    Uluru     14.9      NaN       0.0          NaN

        Sunshine WindGustDir  WindGustSpeed WindDir9am  ... Humidity9am  \
0            NaN           W           44.0          W  ...        71.0
1            NaN         WNW           44.0        NNW  ...        44.0
2            NaN         WSW           46.0          W  ...        38.0
3            NaN          NE           24.0         SE  ...        45.0
4            NaN           W           41.0        ENE  ...        82.0
...          ...         ...            ...        ...  ...         ...
145455       NaN           E           31.0         SE  ...        51.0
145456       NaN         NNW           22.0         SE  ...        56.0
145457       NaN           N           37.0         SE  ...        53.0
145458       NaN          SE           28.0        SSE  ...        51.0
145459       NaN         NaN            NaN        ESE  ...        62.0

        Humidity3pm  Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  \
0              22.0       1007.7       1007.1       8.0       NaN     16.9
1              25.0       1010.6       1007.8       NaN       NaN     17.2
2              30.0       1007.6       1008.7       NaN       2.0     21.0
3              16.0       1017.6       1012.8       NaN       NaN     18.1
4              33.0       1010.8       1006.0       7.0       8.0     17.8
...             ...          ...          ...       ...       ...      ...
145455         24.0       1024.6       1020.3       NaN       NaN     10.1
145456         21.0       1023.5       1019.1       NaN       NaN     10.9
145457         24.0       1021.0       1016.8       NaN       NaN     12.5
145458         24.0       1019.4       1016.5       3.0       2.0     15.1
145459         36.0       1020.2       1017.9       8.0       8.0     15.0

        Temp3pm  RainToday  RainTomorrow
0          21.8         No            No
1          24.3         No            No
2          23.2         No            No
3          26.5         No            No
4          29.7         No            No
...         ...        ...           ...
145455     22.4         No            No
145456     24.5         No            No
145457     26.1         No            No
145458     26.0         No            No
145459     20.9         No           NaN

[145460 rows x 23 columns]>

In [6]:
df = df.dropna()

In [7]:
X = df.drop(['RainTomorrow'], axis = 1)
Y = df['RainTomorrow']

In [8]:
X.head

<bound method NDFrame.head of               Date Location  MinTemp  MaxTemp  Rainfall  Evaporation  \
6049    2009-01-01    Cobar     17.9     35.2       0.0         12.0
6050    2009-01-02    Cobar     18.4     28.9       0.0         14.8
6052    2009-01-04    Cobar     19.4     37.6       0.0         10.8
6053    2009-01-05    Cobar     21.9     38.4       0.0         11.4
6054    2009-01-06    Cobar     24.2     41.0       0.0         11.2
...            ...      ...      ...      ...       ...          ...
142298  2017-06-20   Darwin     19.3     33.4       0.0          6.0
142299  2017-06-21   Darwin     21.2     32.6       0.0          7.6
142300  2017-06-22   Darwin     20.7     32.8       0.0          5.6
142301  2017-06-23   Darwin     19.5     31.8       0.0          6.2
142302  2017-06-24   Darwin     20.2     31.7       0.0          5.6

        Sunshine WindGustDir  WindGustSpeed WindDir9am  ... WindSpeed3pm  \
6049        12.3         SSW           48.0        ENE  ...         20.0
6050        13.0           S           37.0        SSE  ...         19.0
6052        10.6         NNE           46.0        NNE  ...         15.0
6053        12.2         WNW           31.0        WNW  ...          6.0
6054         8.4         WNW           35.0         NW  ...         13.0
...          ...         ...            ...        ...  ...          ...
142298      11.0         ENE           35.0         SE  ...         20.0
142299       8.6           E           37.0         SE  ...         11.0
142300      11.0           E           33.0          E  ...         11.0
142301      10.6         ESE           26.0         SE  ...         17.0
142302      10.7         ENE           30.0        ENE  ...          7.0

        Humidity9am  Humidity3pm  Pressure9am  Pressure3pm  Cloud9am  \
6049           20.0         13.0       1006.3       1004.4       2.0
6050           30.0          8.0       1012.9       1012.1       1.0
6052           42.0         22.0       1012.3       1009.2       1.0
6053           37.0         22.0       1012.7       1009.1       1.0
6054           19.0         15.0       1010.7       1007.4       1.0
...             ...          ...          ...          ...       ...
142298         63.0         32.0       1013.9       1010.5       0.0
142299         56.0         28.0       1014.6       1011.2       7.0
142300         46.0         23.0       1015.3       1011.8       0.0
142301         62.0         58.0       1014.9       1010.7       1.0
142302         73.0         32.0       1013.9       1009.7       6.0

        Cloud3pm  Temp9am  Temp3pm  RainToday
6049         5.0     26.6     33.4         No
6050         1.0     20.3     27.0         No
6052         6.0     28.7     34.9         No
6053         5.0     29.1     35.6         No
6054         6.0     33.6     37.6         No
...          ...      ...      ...        ...
142298       1.0     24.5     32.3         No
142299       0.0     24.8     32.0         No
142300       0.0     24.8     32.1         No
142301       1.0     24.8     29.2         No
142302       5.0     25.4     31.0         No

[56420 rows x 22 columns]>

In [9]:
# Виведення кореляційної матриці
corr_matrix = df.corr()

# Побудова графіку кореляції між ознаками
sns.heatmap(corr_matrix, annot=True, cmap='coolwarm')
plt.show()

<ipython-input-9-5c0f78734aae>:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr_matrix = df.corr()

<class 'NameError'>: name 'sns' is not defined